h1 {
    color: blueviolet;
    text-align: center;
    font-size: 100px;
}

p {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list_intro {
    text-align: center;
    font-size: 50px;
}

ul {
    color: green;
    font-size: 30px;
}

.zombie_h1 {
    font-size: 80px;
}